#modules.tab-pane.active.panel-group(role='tablist' aria-multiselectable='true')
    .panel.panel-primary(ng-repeat='module in modules')
        .panel-heading(style='overflow:auto' role='tab')
            .panel-title.pull-left
                a(
                    data-toggle='collapse'
                    data-parent='#modules'
                    href='#{{ module.id }}'
                    ng-if='$first'
                    aria-expanded='true'
                    aria-controls='#{{ module.id }}'
                ) {{ module.name }}
                a.collapsed(
                    data-toggle='collapse'
                    data-parent='#modules'
                    href='#{{ module.id }}'
                    ng-if='!$first'
                    aria-expanded='false'
                    aria-controls='#{{ module.id }}'
                ) {{ module.name }}
            .pull-right
                button.btn.btn-primary(ng-click='editModule(module.id)  '): .fa.fa-gear
                button.btn.btn-primary(ng-click='removeModule(module.id)'): .fa.fa-close
        .panel-collapse.collapse(id='{{ module.id }}' role='tabpanel' ng-class='{in: $first}')
            .panel-body(ng-init='parseDesc(module)' ng-bind-html='module.parsedDesc')
#editModule.modal.fade: .modal-dialog: .modal-content(style='overflow:auto')
    .modal-body
        form.form-horizontal(novalidate)
            input#editModule_chrome_autofill_fix_user(type='text' style='display: none')
            input#editModule_chrome_autofill_fix_pass(type='password' style='display: none')
            .form-group
                .col-sm-2: label.control-label(for='editModule_name') Name
                .col-sm-10: input.form-control#editModule_name(type='text' ng-model='moduleTarget.name')
            .form-group
                .col-sm-2: label.control-label(for='editModule_desc') Description
                .col-sm-10: textarea.form-control#editModule_desc(type='text' ng-model='moduleTarget.desc' cols='50' rows='2')
            
            .modal-footer
                button.btn.btn-primary(type='submit' ng-click='updateModule(moduleTarget.id)') Update
#addModule.modal.fade: .modal-dialog: .modal-content(style='overflow:auto')
    .modal-body
        form.form-horizontal(novalidate)
            input#addModule_chrome_autofill_fix_user(type='text' style='display: none')
            input#addModule_chrome_autofill_fix_pass(type='password' style='display: none')
            .form-group
                .col-sm-2: label.control-label(for='addModule_name') Name
                .col-sm-10: input.form-control#addModule_name(type='text' ng-model='newModuleName')
            .form-group
                .col-sm-2: label.control-label(for='addModule_desc') Description
                .col-sm-10: textarea.form-control#addModule_desc(type='text' ng-model='newModuleDesc' cols='50' rows='2')
                
            .modal-footer
                button.btn.btn-primary(type='submit' ng-click='createModule(newModuleName, newModuleDesc)') Create Module