extends /page

block content
    .panel: .panel-body
        a(href='/class/#{course}') Return to couse
        h1 #{ activity.name }
        h4 #{ activity.desc }
        
        .col-md-12
            .spacer-10px
            h3.pull-left #{ course.name }
            .btn-group.pull-right
                button.btn.btn-primary(href='#grades' data-toggle='tab'): .fa.fa-list-alt
                button.btn.btn-primary(href='#edit' data-toggle='tab'): .fa.fa-gear
        .col-md-12.tab-content(ng-controller='classController' ng-init='init("#{course.id}")')
            if activity.type == 'quiz'
                include quiz
            else if activity.type == 'survey'
                include survey
            else if activity.type == 'essay'
                include essay
            else if activity.type == 'upload'
                include upload
            else if activity.type == 'forum'
                include forum
            else if activity.type == 'external'
                include external